@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
:root {
    --size: 300px;
}
body {
    background: #2f363e;
}
.dropdown-container {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: #ffffff; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;

}
.container .notes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
}
.container .notes .note {
    position: relative;
    width: var(--size);
    height: var(--size);
    background: #f7e98d;
    padding: 20px;
    box-shadow: 0 15px 35px rgba(255,255,255,0.25);
    font-family: 'Handlee', cursive;
}
.container .notes .note::before {
    content: 'Double Click to Remove This Note';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.15);
    padding: 3px 0;
    display: flex;
    align-items: center;
    font-size: 0.85em;
    opacity: 0;
    transition: 0.5s;
}
.container .notes .note:hover::before {
    opacity: 1;
}
#create {
    position: relative;
    width: var(--size);
    height: var(--size);
    background: rgba(255,255,255,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    cursor: pointer;
}
#create i {
    position: absolute;
    color: #fff;
}
.createBox {
    position: relative;
    width: var(--size);
    height: var(--size);
    z-index: 1000;
    display: none;
}
.createBox textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    padding: 20px;
    outline: none;
    font-size: 0.2em;
    resize: none;
}
.details h3 {
    font-family: 'Handlee', cursive;
    user-select: none;
    font-size: 1.45em;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
 }
 .popup {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 }
 .popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
 }
#confirmDeleteBtn, #cancelDeleteBtn, #confirmAddUserBtn, #cancelAddUserBtn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#confirmDeleteBtn {
    background-color: #e74c3c;
    color: #fff;
}
#cancelDeleteBtn {
    background-color: #3498db;
    color: #fff;
}
#confirmAddUserBtn,
#cancelAddUserBtn {
   padding: 10px 20px;
   cursor: pointer;
   border: none;
   border-radius: 5px;
}

#confirmAddUserBtn {
   background-color: #2ecc71;
   color: #fff;
}

#cancelAddUserBtn {
   background-color: #e74c3c;
   color: #fff;
}

.popup .popup-text {
    text-align: center;
}
#addUserPopup {
    display: none;
}

#addUserPopup .popup {
    width: 300px;
}

#addUserPopup input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

#addUserPopup .popup-buttons {
    display: flex;
    justify-content: space-between;
}
#addUserBtn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px; /* Adjust as needed */
}

#addUserBtn:hover {
    background-color: #27ae60;
}

#changePasswordBtn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px; /* Adjust as needed */
}

#changePasswordBtn:hover {
    background-color: #2980b9;
}

.popup-container-change-password {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-password {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup-password h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.popup-password form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-password label {
    font-weight: bold;
}

.popup-password input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-password button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-password button[type="submit"]:hover {
    background-color: #2980b9;
}

.popup-password button#closePasswordChangePopup {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.popup-password button#closePasswordChangePopup:hover {
    background-color: #c0392b;
}
